<h1>Editing Invoice</h1>

<%= render 'form', invoice: @invoice %>
<br>

<%= link_to 'Show', @invoice , class: "btn btn-secondary"%> 
<br>
<%= link_to 'Back', invoices_path , class: "btn btn-secondary"%>
